div.container {
    margin:25px auto; 
    padding: 25px; 
    background: #999999; 
    width:80% 
}
div.title {
    margin:25px auto; 
    padding:0 25px; 
    background: #999999; 
    width:80% 
}
div.white-bg {
    background: #fff;
    // border: #999999 solid 1px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}