div.container {
    margin:25px auto; 
    padding: 25px; 
    background: #999999; 
    width:80% 
}
div.title {
    margin:25px auto; 
    padding:0 25px; 
    background: #999999; 
    width:80% 
}
div.white-bg {
    background: #fff;
    // border: #999999 solid 1px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.text-color {
    color:red;
    font-weight: bold
}

.text-green {
    color:green;
    font-weight: bold
}

div.Badge h4 {
    margin-top:30px;
}

table {
    width: 100%;
  }


  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  